body {
	background-color: green;
}

.punct:after {
	content: "";
	display: table;
}

.nav-menu {
	position: absolute;
	display: inline-block;
}

.sub-menu {
	position: absolute;
	display: none;
	background-size: #555;
}
.nav-menu ul li:hover > ul{
	display:block;
}

.nav-menu > ul > li:after {
	content: "\25BC";
	font-size: .5em;
	display: block;
	position: absolute;
}